body {
  margin: 0;
}

#game {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background-color: #EDE6DB;
  overflow: hidden;
}

.container h1 {
  text-align: center;
  font-size: 6em;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  color: #1A3C40;
  transform: perspective(10cm) rotateX(40deg);

} 

.content {
  text-align: center;
  height: 100vh;
}

.content > h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: #1A3C40;
}

#game div {
  border: 1px solid #1A3C40;
  width: 15%;
  height: 50px;
  margin: 10px;
  display: inline-block;
} 

#mainContainer {
  padding: 1.25em;
  text-align: center;
  background-color: #EDE6DB;
  color: #1A3C40;
  font-size: 1em;
  font-weight: bold;
  height: 100vh;
}

#mainContainer > h1 {
  font-weight: bold;
  color: #1A3C40;
}

#mainContainer > a {
  font-size: 1em;
}

img {
  height: 100%;
  width: 100%;
}

.displayControl {
  display: none;
}

.opacityControl {
  opacity: 0;
}

.gameFinished {
  background-color: #EDE6DB;
  height: 100vh;
  color: #1A3C40;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.25;
}

.gameFinished > h1 {
  text-align: center;
  transform: perspective(10cm) rotateX(20deg);
  color: #1A3C40;
}

.gameFinished > h2 {
  font-size: 1.5rem;
}

button {
  height: 38px;
  width: 200px;
  border-width: 0;
  border-radius: 4px;
  font-size: 1.5em;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  margin: 2em 0;
  color: #fff;
  background-color: #1D5C63;
}

#startGame {
  color: #fff;
  font-size: 1em;
}

.resetAndPlayAgainGame {
  color: #fff;
  font-size: 1em;
}



@media screen and (max-width: 480px){
  
  #mainContainer {
    padding: 1.25em;
    text-align: center;
    background-color: #EDE6DB;
    color: #1A3C40;
    font-size: 1em;
    font-weight: bold;
    height: 100vh;
  }
}

@media screen and (min-width: 480px) and (max-width: 588px) {
  #game div {
    border: 1px solid #1A3C40;
    width: 12%;
    height: 70px;
    margin: 10px;
    display: inline-block;
  } 

  #mainContainer {
    padding: 1.25em;
    text-align: center;
    background-color: #EDE6DB;
    color: #1A3C40;
    font-size: 1em;
    font-weight: bold;
    height: 100vh;
  }
  
}

@media screen and (min-width: 590px) and (max-width: 773px) {
  #game div {
    border: 1px solid #1A3C40;
    width: 17%;
    height: 92px;
    margin: 10px;
    display: inline-block;
  } 

}

@media screen and (min-width: 774px) and (max-width: 1024px){
  #game div {
    border: 1px solid #1A3C40;
    width: 9%;
    height: 90px;
    margin: 10px;
    display: inline-block;
  } 
  #mainContainer {
    padding: 1.25em;
    text-align: center;
    background-color: #EDE6DB;
    color: #1A3C40;
    font-size: 1em;
    font-weight: bold;
    height: 100vh;
  }

}


@media screen and (min-width: 1025px) and (max-width: 1400px){
  #game div {
    border: 1px solid #1A3C40;
    width: 10%;
    height: 100px;
    margin: 10px;
    display: inline-block;
    background-size: cover;
  } 

}


@media screen and (min-width: 1401px){
  #game div {
    border: 1px solid #1A3C40;
    width: 10.5%;
    height: 180px;
    margin: 10px;
    display: inline-block;
    background-size: cover;
  
  } 

}